* { box-sizing: border-box; }

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #333;
  color: white;
  margin: 0;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  height: 100vh;
}

body > * { border: solid 1px #999; }

#office-list-container { display: flex; flex-direction: column; }
#office-list { flex: 1; }
#office-filters > * { border: solid 1px #999; }

#office-list > ul { list-style: none; padding: 0; text-align: center; }
#office-list > ul > li.selected { background-color: #999; }

main {
  overflow-y: auto;
}