html {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #333;
  color: rgb(255, 255, 255);
}
input[type="checkbox"]{
  margin: 0;
  align-self: flex-end;
}
input[type="checkbox"]:checked {
  /* Add styles here */
  color: #333;
  background-color: rgb(69, 69, 69);
}

body {
  padding: 0;
  margin: 0;
}

::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input[type="text"] {
  padding: 0.3rem;
  background-color: #3a4341;
  outline-width: 0;
  color: white;
  text-align: center;
}

#search {
  background-color: #6b6b6b;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
}

span {
  color: #6baf6b;
}

path {
  fill: rgb(99 99 99);
  stroke: rgb(0, 0, 0);
}

.tooltip {
  position: absolute;
  background-color: rgb(110, 109, 109);
  border: 1px solid black;
  padding: 0.625rem;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#submitChanges {
  border: 1px solid #6b6b6b;
  padding: 10px;
  cursor: pointer;
  background-color: #535353;
  color: white;
}

#submitChanges:active {
  background-color: #828181;
}
.checkboxDiv{
    display: flex;
    cursor: pointer;
    user-select: none;
    border: solid 0.5px rgb(177 177 177);
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
}
.checkboxDiv:hover {
    background-color: rgb(255, 255, 255, 0.2);
  }
  
  .checkboxDiv:active {
    background-color: #333;
  }
.listedOffices li {
    display: flex;
    cursor: pointer;
    user-select: none;
    border: solid 0.5px rgb(255, 255, 255, 0.2);
    justify-content: center;
}

.listedOffices li:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.listedOffices li:active {
  background-color: #333;
}

.userListItem {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0.5rem;
  border: solid 0.5px rgb(255, 255, 255, 0.2);
}

.highlightUserListItem {
  background-color: rgb(255, 255, 255, 0.2);
}

.userListItem:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.userListItem:active {
  background-color: #333;
}

rect[data-user]:hover {
  stroke: white;
}

.hoverUser {
  stroke: white;
}

.selectUserListItem {
  border: 1px solid white;
  background-color: rgb(255, 255, 255, 0.3);
}

.highlighted {
  fill: white;
}

svg {
  width: 1202px;
  height: 802px;
}

.chosenOffice {
  display: block;
}

rect {
  fill: rgb(99 99 99);
  stroke: rgb(0, 0, 0);
}

.rectContainer {
  width: 1200px;
  height: 800px;
  fill: #434343;
  stroke: white;
}

.rectUser {
  width: 120px;
  height: 60px;
}

.rectUserBig {
  width: 170px;
  height: 290px;
}

ellipse {
  fill: rgb(255, 255, 255);
  stroke: rgb(0, 0, 0);
}

#log {
  font-size: 1.5rem;
  height: 2rem;
}

#office {
  font-size: 2rem;
  padding: 1rem;
}

.mainContainer {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.2fr;
  height: 100vh;
  width: 100vw;
}

.officeMenu {
  display: flex;
  border: solid 1px rgb(255, 255, 255, 0.2);
  flex-direction: column-reverse;
  justify-content: space-between;
}

.content {
  display: flex;
  border: solid 1px rgb(255, 255, 255, 0.2);
  align-items: center;
  justify-content: center;
}

.info {
  display: grid;
  grid-template-rows: 26.7vh 73vh;
  border: solid 1px rgb(255, 255, 255, 0.2);
}

.infoEditing {
  border: solid 1px rgb(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.infoDisplay {
  border: solid 1px rgb(255, 255, 255, 0.2);
  display: flex;

  max-height: 100%;
  overflow-y: auto;
  flex-direction: column;
}

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
  background-color: #3a4341;
  border-radius: 5px;
}

.chosenOfficeListItem{
  border: 1px solid white;
  background-color: rgb(255, 255, 255, 0.3);
}
