* { box-sizing: border-box; }

html {
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: #333;
    color: rgb(255, 255, 255);
  }
ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
span {
  color: #6baf6b;
}
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    height: 100vh;
}
::placeholder { color: rgba(255, 255, 255, 0.3); }

div::-webkit-scrollbar {
  width: 5px;
}

div::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}
div::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  border-radius: 5px;
}

body > * { border:solid 1px #999 ;}

.office-list-container { display: grid; grid-template-rows: 1fr  max-content;overflow-y: auto; }
.office-list  li{ cursor: pointer; border: 1px solid #999;}
.office-list  li:hover{background-color: rgb(136, 136, 136,0.3);} 
.office-list  li:active{background-color: rgba(206, 205, 205, 0.456);} 
.office-filters > * { border: 1px solid #999; padding: 5px; }
.office-content{
  display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

rect{ fill:rgb(99 99 99); stroke:rgb(0, 0, 0); }
.rectUser { width:120px; height:60px; cursor: pointer; }
.rectUserBig { width:170px; height:290px; cursor: pointer;  }
.rectContainer {
  width: 1200px;
  height: 800px;
  fill: #434343;
  stroke: white;
}
path { fill: rgba(99, 99, 99, 0.263);stroke: rgba(0, 0, 0, 0.159) }
.selectedRect{fill: white;}

.office-view { display: grid; grid-template-rows: 1fr 2fr; }
.office-view > * { border: solid 1px #999; }
.office-user-details{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.office-user{
  display:flex;
  visibility: hidden;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;  
}
.office-user > input[type="text"]{
        padding: 0.3rem;
        background-color: #3a4341;
        outline-width: 0;
        color: white;
        text-align: center;
}
.office-details-buttons{
  display:flex;
  visibility: hidden;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0.5rem; 
}

#office { font-size: 2rem; }
#downloadCsv {
  border: 1px solid #6b6b6b;
  padding: 10px;
  cursor: pointer;
  background-color: #535353;
  color: white;
}
#downloadCsv:active { background-color: #828181; }
#downloadSvg {
  border: 1px solid #6b6b6b;
  padding: 10px;
  cursor: pointer;
  background-color: #535353;
  color: white;
}
#downloadSvg:active { background-color: #828181; }
#submit {
  border: 1px solid #6b6b6b;
  padding: 10px;
  cursor: pointer;
  background-color: #535353;
  color: white;
}
#officeListButton {
  border: 1px solid #6b6b6b;
  padding: 10px;
  cursor: pointer;
  background-color: #413f3f;
  color: white;
}
#officeListButton:active { background-color: #828181; }
#submit:active { background-color: #828181; }
.office-user-list li:active { background-color: #333; }
.office-user-list li:hover { background-color: rgb(255, 255, 255, 0.2); }
.office-user-list li {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0.5rem;
  border: solid 0.5px rgb(255, 255, 255, 0.2);
}
.user-list{
  display: flex; flex-direction: column;overflow-y: auto; 
}
.searchbar{
    padding: 0.3rem;
    background-color: #ffffff;
    outline-width: 0;
    color: #333;
    text-align: center;  
}
.searchbar::placeholder{
  color: #33333386;
}
.selected{ background-color: #6c6c6c; }
.tooltip {
  position: absolute;
  background-color: rgb(110, 109, 109);
  border: 1px solid black;
  padding: 0.625rem;
  font-size: 1rem;
}